in detail template

{{room.id}}


    {% for image in room.images.all %}
	    yeah
	    <img src="/uploads/{{image.file.name}}"/>
    {% endfor %}

    {% for text in room.text.all %}
    	{% for styles in wrs %}
            {%for m in marq %}
        		{%if m.words.id == text.id %}
                    <marquee scrollamount={{m.scrollamount}} direction={{m.direction}} height=100% width=100% >
                {%else%}
                <!-- nothing haha omg! -->
                {% endif %}<!-- endiff on marquee -->
                {% if styles.words.id == text.id %}
        			<p style="color:rgba({{styles.color}});">{{text}}</p>
        		{%else%}
        			<p>{{text}}. it did not come with or something </p>
        		{% endif %}<!-- endif on words style and text -->

                {%if m.words.id == text.id %}
                    </marquee>
                {%else%}
                <!-- nothing haha omg! -->
                {% endif %}<!-- endiff on marquee -->

                    
                

            {% endfor %}
    	{% endfor %}
    {% endfor %}